/* styles.css */
body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f7f7f7;
}

header {
    background: #003366;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

#search {
    margin-bottom: 2rem;
}

#search input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#organizations ul {
    list-style: none;
    padding: 0;
}

#organizations li {
    background: #f9f9f9;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
.victim-1 {
    font-size: 2rem;
    color: red;
}
h3 {
    font-size: 2rem;
    color: rgb(21, 102, 224);  
}
button {
    color: #f1edee;
    background: #e63946;
}
.sec-1 {
    background-image: url(/Images/pexels-mart-production-7699361.jpg);
}